.header {
  &__nav {
    margin-left: auto;
    ul {
      display: flex;
      list-style: none;

      li {
        &:not(:last-child) {
          margin-right: toRem(26);

          @media (max-width: 1024px) {
            margin-right: toRem(40);
          }

          @media (max-width: 768px) {
            margin-right: toRem(26);
          }
        }
        a {
          color: $colorBlack;
          transition: color 0.3s linear;
          &:hover {
            color: $colorOrange;
          }
        }
      }
    }

    @media (max-width: 1024px) {
      margin-left: inherit;
      margin-top: toRem(16);
    }
  }
}
