@font-face {
  font-family: "Roboto Regular", sans-serif;
  src: url(/fonts/Roboto-Regular.woff) format(woff),
    url(/fonts/Roboto-Regular.woff2) format(woff2);
}
@font-face {
  font-family: "Roboto Bold", sans-serif;
  src: url(/fonts/Roboto-Bold.woff) format(woff),
    url(/fonts/Roboto-Bold.woff2) format(woff2);
}
