@font-face {
  font-family: "Roboto Regular", sans-serif;
  src: url(/fonts/Roboto-Regular.woff) format(woff),
    url(/fonts/Roboto-Regular.woff2) format(woff2);
}
@font-face {
  font-family: "Roboto Bold", sans-serif;
  src: url(/fonts/Roboto-Bold.woff) format(woff),
    url(/fonts/Roboto-Bold.woff2) format(woff2);
}

body {
  font-family: $textFont;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $titleFont;
}

header {
  font-family: $textFont;
  font-size: toRem(16);
  line-height: 1.125;
}

h1 {
  font-size: toRem(62);
  line-height: 1.16;
}

h2 {
  font-size: toRem(44);
  line-height: 1.23;
}

h3 {
  font-size: toRem(56);
  line-height: 1.18;
}

h4 {
  font-family: $textFont;
  font-size: toRem(28);
  line-height: 1.43;
}

h5 {
  font-family: $textFont;
  font-size: toRem(22);
  line-height: 1.27;
}

h6 {
  font-family: $textFont;
  font-size: toRem(24);
  line-height: 1.42;
}
