.section {
  &__download {
    padding-top: toRem(100);
  }
}

.download {
  &__wrapper {
    background-color: $colorBlack;
    background-image: url(../../images/download_background.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }

  &__title {
    padding: toRem(275) 0 toRem(270);
    width: 50%;

    h3 {
      color: $colorWhite;
      margin: 0 0 toRem(16);
      text-shadow: rgb(239, 73, 73) 1px 0 10px;
    }
    p {
      color: $colorWhite;
      margin: 0 0 toRem(16);
      text-shadow: rgb(239, 73, 73) 1px 0 10px;
    }
    button {
      @include register;
      margin-right: 0;
    }

    @media (max-width: 768px) {
      width: 70%;
      padding: toRem(100) 0;
    }
  }

  // &__images {
  //   position: absolute;
  //   right: toRem(-92);
  //   display: flex;
  //   flex: 1;
  //   gap: toRem(30);

  //   &__column {
  //     display: flex;
  //     flex-direction: column;
  //     gap: toRem(30);
  //   }
  // }
}
