.section {
  &__features {
    margin: toRem(200) 0;

    @media (max-width: 1024px) {
      margin: toRem(100) 0;
    }
  }
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    @include title;
    text-align: center;
    margin: 0 toRem(315);

    h2,
    p {
      margin: 0 auto;
    }

    h2 {
      padding-bottom: toRem(22);
    }

    @media (max-width: 1024px) {
      margin: 0 toRem(150);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: toRem(80);
    margin-top: toRem(80);

    @media (max-width: 1024px) {
      flex-direction: row;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      margin: toRem(50) toRem(60) 0;
    }
  }

  &__cards {
    display: flex;
    gap: toRem(90);
    text-align: center;

    @media (max-width: 1024px) {
      flex-direction: column;
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: toRem(20);

      h4,
      p {
        margin: 0;
      }
    }
  }

  &__buttons {
    margin-top: toRem(50);
    &__register {
      @include register;

      @media (max-width: 768px) {
        margin-right: 0;
      }
    }

    &__download {
      @include download;
    }

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      gap: toRem(30);
    }
  }
}
