//fonts
$textFont: "Roboto Regular", sans-serif;
$titleFont: "Roboto Bold", serif;

//colors
$colorBlack: #121212;
$colorGrey: #656565;
$colorOrange: #ff5634;
$colorWhite: #fff;
$colorBorder: #ededed;
$colorBackground: #e5e5e5;
$colorPseudoElements: #cacaca;

//padding
$paddingTop: toRem(200);
